/* font-family: 'Special Elite', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Spectral', serif;
font-family: 'ZCOOL XiaoWei', serif; */

.jumbotron-fluid {
    font-family: 'Sigmar One', cursive;
    text-shadow: 2px 2px black;
    background-image: url(./images/floorplan.jpg);
    color:white;
}
.container,
.card-body {
    justify-content: space-evenly;
}
.front-desk {
    font-family: 'Special Elite', cursive;
}
#guestList {
    text-align: left;
}
.row {
    text-align: center;
    flex-direction: row;
}
.btn-group {
    padding: 3px;
    margin: 3px;
}